{
	# HTTP puro dentro de Tailscale (WireGuard ya cifra el tráfico)
	auto_https off
	admin off
}

http://radarr.{$DOMAIN:notflix.internal} {
	reverse_proxy radarr:7878
}

http://sonarr.{$DOMAIN:notflix.internal} {
	reverse_proxy sonarr:8989
}

http://prowlarr.{$DOMAIN:notflix.internal} {
	reverse_proxy prowlarr:9696
}

http://qbittorrent.{$DOMAIN:notflix.internal} {
	reverse_proxy qbittorrent:8080 {
		header_up Host {upstream_hostport}
	}
}

http://flaresolverr.{$DOMAIN:notflix.internal} {
	reverse_proxy flaresolverr:8191
}

http://plex.{$DOMAIN:notflix.internal} {
	reverse_proxy plex-server:32400 {
		header_up Host {upstream_hostport}
		header_up X-Real-IP {remote_host}
		header_up X-Forwarded-For {remote_host}
		header_up X-Forwarded-Proto {scheme}
	}
}

http://overseerr.{$DOMAIN:notflix.internal} {
	reverse_proxy overseerr:5055
}

http://ntfy.{$DOMAIN:notflix.internal} {
	reverse_proxy ntfy:80
}
